@import "tailwindcss";

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
    user-select: none;
    -webkit-user-select: none;
  }
}

/* 隐藏原生滚动条但保留滚动能力 */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
